<div mat-dialog-content>
  <form class="input-form">
    <h1 mat-dialog-title>{{ data.name }}</h1>
    
    <mat-form-field [hidden]="true" class="input-full-width">
      <mat-label>ID</mat-label>
      <input disabled matInput placeholder="ID" [(ngModel)]="data._id" name="_id">
    </mat-form-field>
    <br>

    <mat-form-field class="input-full-width">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" [(ngModel)]="data.firstName" name="firstName">
    </mat-form-field>
    <br>

    <mat-form-field class="input-full-width">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Last name" [(ngModel)]="data.lastName" name="lastName">
    </mat-form-field>
    <br>

    <mat-form-field class="input-full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" [(ngModel)]="data.title" name="title">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="rolesControl" (selectionChange)="filter($event)" multiple [(value)]="selected">
        <mat-option *ngFor="let role of rolesList" [value]="role" name="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-slide-toggle
      class="slide-toggle"
      [checked]="checked"
      (change)="onChange($event)">
      Status
    </mat-slide-toggle>

  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="userSaveClick()" mat-dialog-close cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()" mat-dialog-close>Cancel</button>
</div>